<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div>
            {{ field.label_tag }} {{ field }}  {{ field.errors| striptags}}
        </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
